{% extends "base.html" %}

{% load static %}

{% block title %}GMAT and GRE Tutor{% endblock title %}

{% block page_content %}
    <div class="row">
        <div class="col-md-2">
            <!-- <img src="{% static 'images/headshot.jpg' %}" alt="Profile Picture" class="img-thumbnail rounded-circle img-fluid"> -->
            <img src="{% static 'images/headshot_square.jpg' %}" alt="Profile Picture" class="img-thumbnail img-fluid rounded-circle">
        </div>
        <div class="col-md-10">
            <h1>Hi, I'm Audra!</h1>
            <h3>Get help from an experienced GMAT and GRE Tutor.</h3>
            <p class="lead">I have been a GMAT and GRE tutor for over five years, guiding learners of all abilities to enhance their test performance. My approach to test prep is grounded and holistic, ensuring you develop the core skills required to perform well throughout the exam, not just on select problems. Contact me today to get started!</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h2>Testimonials</h2>
            <p>"Audra is an excellent tutor. I engaged her for help on the quant and IR sections, in particular, and 
                she did a great job explaining difficult concepts in simple and accessible terms. I was never able to 
                grasp probabilities and combinatorics before working with her but she patiently explained them until 
                I fully understood and was comfortable doing the problems. She also provided helpful shortcuts that 
                improved my speed and efficiency on the test. Highly recommend!" <br><em style="color:gray">- 
                Darcy B., GMAT, admitted to Yale School of Management</em></p>
            <p>"Thank you so much for all of your help and insight! I really feel like our sessions were what gave me my 50 pt 
                overall boost, and I can honestly say I couldn't have done it without you!"<br> <em style="color:gray">- Chandra N., GMAT, admitted to 
                UNC Kenan-Flagler Business School</em></p>
            <p>"Audra is attentive and creates a personal connection that allows you to be comfortable when working together. 
                She is patient and will find the best way to help you understand whatever concept you are learning.  
                She definitely played a major part in helping me raise my GRE score over 15 points and get into the Human 
                Environmental Science Master’s Program at The University of Alabama."<br> <em style="color:gray">- Ryan E., GRE</em></p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h2>Official Scores</h2>
            <ul class="list-group">
                <li class="list-group-item">GRE: 335 Composite, 167 Verbal, 168 Quantitative</li>
                <li class="list-group-item">GMAT (old version): 750 Composite, 44 Verbal, 49 Quantitative, 8 Integrated Reasoning</li>
            </ul>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h2>Contact Information</h2>
            <p>If you would like to get in touch, please feel free to reach out via the following methods:</p>
            <ul class="list-group">
                <li class="list-group-item">Email: azooktutoring@gmail.com</li>
                <li class="list-group-item">Phone: (929) 265-1315</li>
                <!-- Add more contact methods as needed -->
            </ul>
        </div>
    </div>
{% endblock page_content %}
