{% extends "base.html" %}

{% load static %}

{% block title %}GMAT and GRE Tutor{% endblock title %}

{% block page_content %}
    <div class="row">
        <div class="col-md-2">
            <!-- <img src="{% static 'images/headshot.jpg' %}" alt="Profile Picture" class="img-thumbnail rounded-circle img-fluid"> -->
            <img src="{% static 'images/headshot_square.jpg' %}" alt="Profile Picture" class="img-thumbnail img-fluid rounded-circle">
        </div>
        <div class="col-md-10">
            <h1>Hi, I'm Audra!</h1>
            <h3>Get help from an experienced GMAT and GRE Tutor.</h3>
            <p class="lead">I have been a GMAT and GRE tutor for over five years, guiding learners of all abilities to enhance their test performance. My approach to test prep is grounded and holistic, ensuring you develop the core skills required to perform well throughout the exam, not just on select problems. Contact me today to get started!</p>
        </div>
    </div>

    <!-- <hr> -->

    <!-- <div class="row">
        <div class="col-md-12">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div> -->

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h2>Official Scores</h2>
            <ul class="list-group">
                <li class="list-group-item">GRE: 335 Composite, 167 Verbal, 168 Quantitative</li>
                <li class="list-group-item">GMAT (old version): 750 Composite, 44 Verbal, 49 Quantitative, 8 Integrated Reasoning</li>
            </ul>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h2>Contact Information</h2>
            <p>If you would like to get in touch, please feel free to reach out via the following methods:</p>
            <ul class="list-group">
                <li class="list-group-item">Email: azooktutoring@gmail.com</li>
                <li class="list-group-item">Phone: (929) 265-1315</li>
                <!-- Add more contact methods as needed -->
            </ul>
        </div>
    </div>
{% endblock page_content %}
